:root {
    --main-light-color: #FFFFFF;
    --main-font-color: #434455;
    --secondory-font-color: #2E2F42;
    --secondory-footer-color: #F4F4FD;
    --secondory-font-accent-color: #4D5AE5;
    --active-color-hover: #404bbf;
    --background-color-btn: #F4F4FD;
    --accent-color-cornflower: #e7e9fc;
    --green-color: #31D0AA;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
    background-color: var(--main-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


use {
    fill: currentColor;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    /* background-color: var(--main-light-color); */
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;

}

.visualy-hidden {
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    position: absolute;
}


.container-header {
    /* робимо класу уявний контейнер за допомогою  display: flex;
    потім  дітей в цьому контейнері(це а посилання-лого і ul список)
    центруємо по осі(Y) align-items: center; */
    display: flex;
    align-items: center;
}

.header-link {
    display: block;
    /* елементам (а) добавлений падинг в гору та низ для кращого наведення мишкою
    в режимі cursor таким чином 
    ми одразу задаємо і потрібну висоту нашому header */
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    color: var(--secondory-font-color);
}

.nav-header {
    display: flex;
    align-items: center;
}

.list-nav {
    display: flex;
    gap: 40px;
}


.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logotyp {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--secondory-font-accent-color);
    text-decoration: none;
    margin-right: 76px;
}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondory-font-color);
}

.item-header:hover,
.item-header:focus {
    color: var(--active-color-hover);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--active-color-hover);
}

.address {
    font-style: normal;
}


.address-contact {
    margin-left: auto;
}

.list-nav-address {
    display: flex;
    gap: 40px;

}

/* .item-address {
    margin-right: 40px;
} */

.header-contact {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
    padding-top: 24px;
    padding-bottom: 24px;

}

/* Для секції в класі заданий стиль */
.section-our-product {
    padding-top: 96px;
    padding-bottom: 120px;
    /* ці падінги пребираємо їх бути не повинно але автоперевірка може без них не пропустити
     padding-left: 120px;
    padding-right: 120px; */
}

/* Для списку в класі заданий стиль display: flex;
для розміщення кнопок в одну лінію по горизонталі 
Для списку в класі заданий стиль justify-content: center;
для розміщення дочірніх елементів списку по центру осі(х) */

/* Для списку в класі можна задати стиль gap: 24px;
для визначення відступів між пунктами списку а також 
(можна використовувати margin-right: 24px для тега li у класі,але потім 
треба онулити крайні марджин за допомогою :not(:last-child))*/
.list-button {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

/* випадок використання для li */
/*(ul li:not(:last-child)) 
.list-button .item-button:not(:last-child) {
    margin-right: 24px;} */


.btn {

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--background-color-btn);
    color: var(--secondory-font-accent-color);
    cursor: pointer;
    border: 1px solid var(--accent-color-cornflower);
    border-radius: 4px;

    /*короткий запис padding: 12px 24px */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.btn:hover,
.btn:focus {
    color: #FFFFFF;
    /* border: transparent;виставлено без 1 solid як в коментарі ментора 
    але автоперевірка не приймає тому значення з одиничкою залишаємо*/
    border: 1px solid transparent;
    background-color: var(--active-color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.list-images {
    display: flex;
    flex-wrap: wrap;
    /* Для списку в класі заданий стиль flex-wrap: wrap;
для розповзання елементів списку на новий рядок якщо їм не вистачає місця в попередньому */

    column-gap: 24px;
    row-gap: 48px;

    margin: 0;
    /* Для списку в класі заданий стиль column-gap: 24px;
для визначення горизонтальних відступів між пунктами списку
 (можна використовувати margin-right: 24px для тега li у класі) */

}

.item-images {
    width: calc((100% - 48px) / 3);
    /* Для списку в класі заданий стиль width: calc((100% - 48px) / 3);
для визначення ширини для елемента списку (від загальної ширини екрану віднімаємо суму відступів між пунктами
 і ділимо це на кількість пунктів списку в одному рядку) */

    /* flex-basis:calc(100% /3 - 24px) ; при margin-left: 24px; margin-top: 24px;
 як в прикладі чомусь не спрацювало */

    background-color: var(--main-light-color);
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.item-images:hover,
.item-images:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



.title-product {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondory-font-color);
}

.text-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-font-color)
}



.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--secondory-font-color);
}

.footer-logo {
    color: #f4f4fd;
}

.list-footer {
    padding-top: 100px;
    margin: 0;
}

.text-footer {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondory-footer-color);
}

.logotyp-footer {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--secondory-font-accent-color);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
}

.footer-container-right {
    margin-left: 120px;
}


.text-social-media {
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.list-footer-social {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #8E8F99;
    color: var(--main-light-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green-color);
}